body {
    background: url(./assets/background.jpg);
    background-size: 100%;
    font-family: sans-serif;
    background-position: bottom;
    background-repeat: no-repeat;
}
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
  form {
    font-size: 20px;
    margin-left: 4.5rem;
  }
  input[type="text"] {
    width: 75%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    font-size: 16px;
  }
  textarea {
    font-size: 16px;  
    font-family: sans-serif;
  }
  select {
    width: 75%;
    height: 35px;
    
  }
  input[type="email"] {
    width: 75%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    font-size: 16px;
  }
  input[type="submit"] {
  width: 10%;
    height: 50px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    background: #1c8adb;
  }
  input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(20, 214, 20);
    color: white;
  }
  input[type="reset"] {
    width: 10%;
    height: 50px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    background: #1c8adb;
  }
  input[type="reset"]:hover {
    cursor: pointer;
    background: rgb(20, 214, 20);
    color: white;
  }